#myInput {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}

textarea {
    overflow: auto;
    height: auto;
    font: inherit;
    color: inherit;
    min-height: 139px;
}
.to{
    color: black;
}