.blodfor{
    font-size: x-large;
    overflow: scroll;
}

.blodfor1{
    font-size: x-large;
    float: right;
    width: 20px;
    height: 20px;
}

.countrystate{
    border-style: solid;
}

.danger {
    background: lightcoral;
  }

.usercolor{
  color: #901e1e;
}

.loginshow{
  padding-top: 69%;
}
.loginshoww{
  padding-top: 0px;
 padding-top: 0%;
}